* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.switch{
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  font-family: "Josefin Sans", sans-serif;
  min-height: 100%;
  width: 100%;
  background-color: hsl(236, 33%, 92%);
  font-size: 18px;
}

body.dark{
  background-color: hsl(235, 21%, 11%);
}
.header.dark{
  background: url(../images/bg-desktop-dark.jpg) no-repeat;
  position: absolute;
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  height: 20em;
  width: 100%;
  z-index: -1;
}

/* Header/Title section */

h1 {
  letter-spacing: 0.5em;
  font-size: 2.5em;
  font-weight: bold;
}

.header {
  background: url(../images/bg-desktop-light.jpg) no-repeat;
  position: absolute;
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  height: 18.5em;
  width: 100%;
  z-index: -1;
}

#main-wrapper {
  color: white;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  align-items: center;
}

#main-title {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}

/* Task's section */

#todo-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 42%;
  padding: 1em;
  border-radius: .5em;
  background: rgba(225, 225, 225, .2);
  backdrop-filter: blur(5px);
}

.tasks-toggleGroup{
  background-color: hsl(0, 0%, 98%);
}

.tasks-toggleGroup.dark{
  background-color: hsl(235, 24%, 19%);

}

#add-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: .5em;
  padding: 0.5em 2em;
  height: 3em;
  margin-bottom: 2em;
}

#new-task-button {
  height: 2em;
  width: 2em;
  cursor: pointer;
  outline: none;
  border-radius: 1em;
  border: 1px solid hsl(233, 11%, 84%);
}

#new-task {
  font-family: "Josefin Sans", sans-serif;
  width: 90%;
  height: 2em;
  outline: none;
  border-color: transparent;
  background: transparent;
  font-size: 1em;
  font-weight: 400;
  
}

#new-task.dark{
  color: white;
}

#new-task::placeholder {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(236, 9%, 61%);
  font-weight: 400;
  font-size: 1.2em;
}

#added-tasks {
  border-radius: .2em;
  height: 100%;
  margin-bottom: 2em;
  border-radius: .5em;
}

.task-controls {
  height: 50%;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  color: hsl(236, 9%, 61%);
}

.task-controls__ul {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

li,
li a {
  list-style: none;
  text-decoration: none;
  color: hsl(236, 9%, 61%);
}

.task-controls__ul li a:focus {
  color: hsl(220, 98%, 61%);
}

.task-controls__ul li a:hover {
  color: #000;
}

#tasks-container {
  display: flex;
  flex-direction: column;
  color: hsl(235, 19%, 35%);
  height: auto;
  padding: 0.5em;
}

#tasks-container.dark{
  color: white;
}

.task {
  position: relative;
  padding: 0.8em 2em;
  border-bottom: 1px solid hsl(233, 11%, 84%);
}

.task-checkbox {
  position: absolute;
  left: 2.2em;
  opacity: 0;
  cursor: pointer;
  outline: none;
  z-index: 2;
  height: 0px;
  width: 0px;
  border: 1px solid hsl(233, 11%, 84%);
}

.checkmark {
  border: 1px solid grey;
  position: absolute;
  left: 1.5em;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

input:checked ~ .checkmark {
  background: linear-gradient(
    to right bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}


.hide{
  display: none;
}


.completed{
  text-decoration-line: line-through;
}


.task-text {
  margin-left: 2em;
}

.task-controls--mobile{
  display: flex;
  justify-content: center;
  background-color: hsl(0, 0%, 98%);
  border-radius: .5em;
  
  display: none;

} .task-controls__ul--mobile{
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 0.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

.coded-by{
  color: magenta;
}
.challenge-by {
  color: cyan;
}

@media screen and (max-width:1100px) {
  .task-controls__ul{
    display: none;
  }
  .task-controls--mobile{
    display: flex;
  }
}

@media screen and (max-width:700px){
  #main-wrapper{
    margin-top: 30px;
  }
  
  #todo-container{
    width: 95%;
    font-size: 15px;
    background: transparent;
    backdrop-filter: none;
  }
  .header{
    height: 10.5em;
  }
}

